body {
    background-color: #f2f0e8 !important;
}

.ys-jumbotron, .ys-nav-link {
    font-family: 'Source Sans Pro', sans-serif !important;
}

.ys-body {
    font-family: 'Noto Serif', serif;
}

.ys-nav li a:hover {
    color: #f2f0e8 !important;
}

.ys-brand {
    font-family: 'Allerta', sans-serif;
}

.ys-nav-link {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.ys-jumbotron {
    text-shadow: 1px 1px #000000;
    color: #f2f0e8;
    border-radius: 0 !important;
    background-repeat: no-repeat;
}

@media (max-width: 800px) {
    .ys-jumbotron {
	background-position: center center;
    }
}

.ys-jumbotron h1 {
    font-family: 'Great Vibes', sans-serif;
}

.ys-tri h2 {
    font-weight: bold;
}

.ys-btn-danger {
    background-color: #a71930;
    color: #f2f0e8;
}

.ys-btn-danger:hover {
    background-color: #690717;
    color: #f2f0e8;
}

.ys-jumbotron-index {
    background-color: #181a20 !important;
    background-size: auto 100%;
    background-position: right top;
    background-image: url("/img/jumbo-bg-lg.jpg");
}

@media (max-width: 1200px) {
    .ys-jumbotron-index {
	background-image: url("/img/jumbo-bg-md.jpg");
    }
}

.ys-jumbotron-about {
    background-color: #181a20 !important;
    background-size: cover;
    background-position: center center;
    background-image: url("/img/ysu.jpg");
}

.ys-jumbotron-dj {
    background-color: #181a20 !important;
    background-size: cover;
    background-position: center center;
    background-image: url("/img/mixer.jpg");
}
